@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    
}
.logo{
    width:35px;
    height:35px;
    margin-left:25px;
    float:left;
    margin-top: 2.5px;
    margin-right: 15px;
    float:right;
    opacity:0.9;
}
.header{
    height:40px;
    background-color: #302e2f;
     display: inline-block;
     width:100%;
}
.title{
    float:right;
    height:40px;
    font-size:25px;
    margin-top: 5px;
}